.idea/
vendor/
.DS_Store

# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
wordpress-core/

# Log files
*.log

# htaccess
.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# Content: Uploads and themes
# Add ! for files and dir to commit
website/app/*
!website/app/languages
!website/app/themes/
website/app/themes/newsmatic

# Global gitignore setup
/composer.lock
website/.env
.bundle/
*.retry
.vscode/
.phpunit.result.cache
tags