/* 404 */

.error-404-child .post-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explain-code-to-me-404::before {
    content: url("../images/explain-code-to-me-404.gif");
}

.page-header-404-child p {
    text-align: center;
}