/* 404 */
.error404 sub {
    color: white;
}

#post-inner-wrapper-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lost-404-gif {
    height: 125px;
    max-width: 100%;
}

#page-title-404 {
    font-size: 4em;
}

#error-image-404 {
    text-align: center;
}

#page-content-404 {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 15px 0 15px 0;
    padding: 15px 0 25px 0;
}

.newsmatic_dark_mode #page-content-404 {
    background-color: #2E3844;
}

#page-header-404-child {
    text-align: center;
}

.site-header.layout--default .main-header .site-branding-section .row {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

#page-content-404 .nav-menu {
    display: flex;
    justify-content: center;
}

#description-toggle {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#page-content-404 .search-submit {
    --theme-color-red: #404040;
}

@media (max-width: 769px) {
    #page-content-404 .menu-toggle {
        display: none;
    }

    nav.main-navigation ul.menu,
    nav.main-navigation ul.nav-menu {
        background-color: var(--mobile-menu-bk-color);
        z-index: 10;
        padding: 10px 30px;
    }

    #page-content-404 .nav-menu {
        display: contents;
    }

    nav.main-navigation ul.menu li,
    nav.main-navigation ul.nav-menu li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav.main-navigation ul.menu li a,
    nav.main-navigation ul.nav-menu li a {
        padding: 9px 15px;
    }

    nav.main-navigation .toggle-sub-menu {
        display: inline-block;
        position: initial;
        top: unset;
        right: unset;
        padding-left: 15px;
    }

    #search-form-404 {
        margin: 20px 10px 0 10px;
    }

    #search-form-404 input {
        margin-top: 15px;
    }

    #page-content-404 .sub-menu.isShow {
        padding-left: 0;
    }
}


