/* ARTICLES */

/* Hide previous and next article block */
body.single .navigation.post-navigation {
    display : none;
}

/* Change background color */
.newsmatic_dark_mode .post-inner {
    --single-content-bk-color: #1E2731;
}

.newsmatic_dark_mode .widget {
    --single-content-bk-color: #1E2731;
}

.newsmatic_dark_mode .comments-area {
    --single-content-bk-color: #1E2731;
}

.newsmatic_dark_mode .single-related-posts-section {
    --single-content-bk-color: #1E2731;
}

/* Change h1 and h2 color */
.newsmatic_dark_mode .entry-content > h2 {
    color: whitesmoke;
}

body .entry-content > h2 {
    color: black;
}

/* Accordion: Change h2 color */
.newsmatic_dark_mode .aagb__accordion_title {
    color: white !important;
}

body .aagb__accordion_title {
    color: black !important;
}

/* Accordion: Change icon color */
.newsmatic_dark_mode .aagb__icon {
    color: whitesmoke;
}

/* Change background title comment and color */
.comments-area h2.comments-title {
    color: black;
    background-color: #FFFFFF;
}

.newsmatic_dark_mode .comments-area h2.comments-title {
    color: white;
    background-color: #1E2731;
}

/* Remove dashed bottom comment */
.comment-content p {
    border-bottom: none;
}

#theme-content .primary-content article figure {
    margin: auto;
}

/* Infos bulle */
.newsmatic_dark_mode .wp-block-verse {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjM2ZhNWRiJyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44cy0xMy44IDYuMi0xMy44IDEzLjggNi4yIDEzLjggMTMuOCAxMy44YzMuNSAwIDYuNy0xLjMgOS4yLTMuNWw3LjIgMi00LjEtNS45ek0xMy40IDIyLjNjMC4xIDAuMSAwLjIgMC4xIDAuMyAwLjEgMC4xIDAgMC4zLTAuMSAwLjUtMC4yIDAuNS0wLjQgMS0xIDEuNi0xLjdsMC41IDAuM2MtMC42IDAuOS0xLjMgMS43LTIuMiAyLjQtMC42IDAuNS0xLjIgMC43LTEuOCAwLjctMC40IDAtMC43LTAuMS0wLjktMC4zcy0wLjQtMC41LTAuNC0wLjhjMC0wLjMgMC4xLTAuOSAwLjMtMS43bDEuOC02LjFjMC4zLTEgMS0zLjQgMS0zLjRsMi4xLTAuMy0yLjcgOS42Yy0wLjIgMC42LTAuMyAxLTAuMyAxLjIgMCAwLjEgMCAwLjMgMC4xIDAuNHpNMTcgOC4xYy0wLjMgMC4zLTAuNiAwLjQtMSAwLjRzLTAuNy0wLjEtMS0wLjRjLTAuMy0wLjMtMC40LTAuNi0wLjQtMSAwLTAuNCAwLjEtMC43IDAuNC0xIDAuMy0wLjMgMC42LTAuNCAxLTAuNHMwLjcgMC4xIDEgMC40YzAuMyAwLjMgMC40IDAuNiAwLjQgMSAwIDAuNC0wLjEgMC43LTAuNCAxeicvPjwvc3ZnPg==');
    background-color: #E6F4FA;
    border-radius: 10px;
    color: black;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 20px 25px 15px 50px;
}

/* Infos bulle */
.newsmatic_dark_mode .wp-block-verse {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjZjM5NTM5JyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44cy0xMy44IDYuMi0xMy44IDEzLjggNi4yIDEzLjggMTMuOCAxMy44YzMuNSAwIDYuNy0xLjMgOS4yLTMuNWw3LjIgMi00LjEtNS45ek0xMi43IDIyLjZjLTAuNyAwLTEuMi0wLjYtMS4yLTEuMyAwLTAuOCAwLjYtMS41IDEuNC0xLjUgMC43IDAgMS4yIDAuNiAxLjIgMS4zIDAgMC44LTAuNiAxLjQtMS40IDEuNHpNMTQuMSAxOC4xaC0xLjRsMS43LTEwLjVoMi4xbC0yLjMgMTAuNXonLz48L3N2Zz4=');
    background-color: #FDEFE1;
    border-radius: 10px;
    color: black;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 20px 25px 15px 50px;
}

.newsmatic_dark_mode .primary-content {
    background-color: #1E2731;
}

.comment-reply-title > small {
    display: flex;
    flex-direction: column;
}

/* Tags */
div.tags-child-links a {
    color: whitesmoke !important;
    text-decoration: initial;
    text-transform: capitalize;
    background-color: var(--theme-color-red);
    border-radius: 3px;
    line-height: var(--single-meta-lineheight);
    font-weight: var(--single-meta-weight);
    font-family: var(--single-meta-family);
    margin: 0 5px 5px 0;
    padding: 2px 4px 2px 4px;
}

div.tags-child-links:before {
    margin: 0 5px;
    content: "\f02b";
    font-family: 'Font Awesome 5 Free';
    padding-right: 2px;
    margin-left: 0;
    font-size: var(--single-meta-size);
    font-weight: 900;
}

div.article-published-date:before {
    margin: 0 5px;
    content: "\f073";
    font-family: 'Font Awesome 5 Free';
    padding-right: 2px;
    margin-left: 0;
    font-size: var(--single-meta-size);
    font-weight: 900;
}

.article-before-content-text {
    color: var(--meta-text-color);
    text-decoration: initial;
    font-family: var(--single-meta-family);
    font-size: 14px;
    margin-top: 10px;
}

/* Twitter embedded */
.twitter-tweet {
    margin-right: auto;
    margin-left: auto;
}

.wpulike-animated-heart {
    box-shadow: none;
    border-bottom: 2px solid lightgrey;
}

.newsmatic_dark_mode .wpulike-animated-heart {
    border-bottom: 2px solid #546980;
}

@media (min-width: 595px) {
    .wpulike {
        position: fixed;
        top: 40%;
        left: 0.5em;
        z-index: 1;
    }

    .wpulike-animated-heart .count-box {
        margin: 0 5px;
    }

    .wpulike-animated-heart button.wp_ulike_btn {
        width: 32px;
        height: 32px;
        box-shadow: none;
    }

    .wpulike-animated-heart .wpulike-svg-heart {
        width: 18px;
    }

    .sharedaddy {
        position: fixed;
        top: 47%;
        left: 0.5em;
        z-index: 1;
    }

    .sd-social-icon .sd-content ul {
        display: flex;
        flex-direction: column;
    }

    .jp-sharing-input-touch .sd-content ul li {
        padding-left: 0px !important;
    }
}

@media (max-width: 595px) {
    .wpulike {
        position: absolute;
        z-index: 1;
        border-right: 2px solid grey;
        padding: 0 5px 0 0;
    }

    .sharedaddy {
        z-index: 1;
        left: 7em;
        position: absolute;
    }

    .sd-content ul li {
        margin-bottom: 0;
    }

    .wpulike-animated-heart .count-box {
        margin-left: 6px;
    }

    .jp-sharing-input-touch .sd-content ul li {
        padding-left: 3px !important;
    }

    .wpulike-animated-heart button.wp_ulike_btn {
        width: 32px;
        height: 32px;
        box-shadow: none;
    }

    .wpulike-animated-heart .wpulike-svg-heart {
        width: 18px;
    }

    .wpulike-animated-heart {
        box-shadow: none;
        border-bottom: none;
    }

    .newsmatic_dark_mode .wpulike-animated-heart {
        border-bottom: none;
    }
}



