.newsmatic_dark_mode .newsmatic-container.newsmatic-author-section {
    --theme-content-bk-color: #1E2731;
}

/* Change h1 and h2 color */
.newsmatic_dark_mode .author-desc {
    color: whitesmoke;
}

body .author-desc {
    color: black;
}