/* FOOTER */

/* Temporary changes */
.site-footer .site-info {
    text-align: center;
}

.newsmatic_dark_mode .site-footer .bottom-footer {
    background-color: #2E3844;
}

.site-footer .bottom-footer {
    background-color: #FFFFFF;
}

body.newsmatic_dark_mode  {
    background-color: #1E2731;
}

body  {
    background-color: #FFFFFF;
}

.newsmatic_dark_mode .newsmatic-breadcrumb-wrap {
    background-color: #2E3844;
}
