/* HOMEPAGE */

/*  Remove top border blocks */
#colophon {
    border-top : none;
}

/* Override width for
 * last articles block */
#theme-content .row {
    max-width : auto;
}

.primary-content {
    width : inherit;
}

/*  Force white color for toggle in dark mode */
.mode_toggle:checked {
    color : whitesmoke;
}

.newsmatic_dark_mode .primary-content {
    --archive-content-bk-color: #1E2731;
}

.newsmatic_dark_mode #bottom-full-width-section .row > div {
    --full-width-bottom-content-bk-color: #2E3844;
}

.newsmatic_dark_mode #bottom-full-width-section {
    --full-width-bottom-section-bk-color:#2E3844;
}

/* Carrousel */
.main-banner-wrap .post-element .post-excerpt p {
    display: none;
}

.newsmatic-child-event-banner {
    height: 30vh;
    width: 60vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 0.5em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, serif;
    font-weight: 500;
    color: white;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .newsmatic-child-event-banner {
        padding-top: 2vh;
        font-size: 1em;
        background-image: url("../images/explain-code-to.me-banner-event-php-forum-dark-phones.jpg");
    }
}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .newsmatic-child-event-banner {
        padding-top: 3vh;
        font-size: 1.2em;
        background-image: url("../images/explain-code-to.me-banner-event-php-forum-dark-small-tablets.jpg");
    }
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .newsmatic-child-event-banner {
        padding-top: 3vh;
        font-size: 1.2em;
        background-image: url("../images/explain-code-to.me-banner-event-php-forum-dark-ipad.jpg");
    }
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .newsmatic-child-event-banner {
        padding-top: 1.5vh;
        font-size: 1.5em;
        background-image: url("../images/explain-code-to.me-banner-event-php-forum-dark.jpg");
    }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .newsmatic-child-event-banner {
        padding-top: 0.9vh;
        font-size: 1.2em;
        background-image: url("../images/explain-code-to.me-banner-event-php-forum-dark.jpg");
    }
}

@media (min-width:1250px) { /* big landscape tablets, laptops, and desktops */
    .newsmatic-child-event-banner {
        padding-top: 1.9vh;
        font-size: 1.4em;
        background-image: url("../images/explain-code-to.me-banner-event-php-forum-dark.jpg");
    }
}