/* GLOBAL */
/* Liens hover */
body.newsmatic_dark_mode {
    --theme-color-red: darkgray;
    background-color: #1E2731;
}

/* Hide div to center logo header */
.header-right-button-wrap {
    display: none;
}

/* News carrousel */
#bottom-full-width-section {
    --full-width-bottom-section-bk-color: #FFFFFF;
}

h2.newsmatic-block-title span::after,
h2.newsmatic-widget-title span::after,
h2.widget-title span:after {
    background: none;
}

/* Change link style */
a {
    color: #8aa5ad;
}

a:visited {
    color: #8aa5ad;
}

.cat-item a:visited {
    color: whitesmoke;
}

.post-item .post-element .post-title a:visited {
    color: whitesmoke;
}

.newsmatic_dark_mode .wp-block-latest-posts__list a:visited {
    color: whitesmoke;
}

.post-categories a {
    color: whitesmoke;
}


/* Change link color darkmode */
.newsmatic_dark_mode .newsmatic-title-two .post-title a,
.newsmatic_dark_mode .newsmatic-title-two .news-carousel .post-title a,
.newsmatic_dark_mode .newsmatic-title-two .widget_block ul li a,
.newsmatic_dark_mode .newsmatic-title-two .widget_nav_menu ul li a {
    color: #8aa5ad;
}

.newsmatic_dark_mode .post-inner a:visited {
    color: #8aa5ad;
}

.newsmatic_dark_mode .post-categories a:visited {
    color: whitesmoke;
}

.newsmatic_dark_mode .edit-link a {
    color: whitesmoke;
}

/* Change post title color */
.post .post-element .post-title a {
    color: black;
}

.post .post-element .post-title a:hover {
    color: #4A707C;
}

.newsmatic_dark_mode .post .post-element .post-title a {
    color: whitesmoke;
}

body .entry-content a:hover, body .post-standard__content a:hover,
body .format-standard .entry-content a:hover,
body .comment-content a:hover,
.wp-block-latest-comments a:hover,
.widget_text a:hover {
    color: #4A707C;
    text-decoration-line: none !important;
}

/* Comment textarea input */
.newsmatic_dark_mode .comment-form .comment-form-comment textarea,
.newsmatic_dark_mode form.comment-form p input {
    background: #2E3844;
}

/* Comment submit button */
.comment-form .form-submit input {
    --dark-bk-color: #2E3844;
}

/* Change pagination style */
.pagination span.current {
    background-color: #2E3844;
}

.pagination span, .pagination a {
    --theme-color-red: #2E3844;
    color: #2E3844;
}

