/* Search form background */
.newsmatic_dark_mode .search-form-wrap {
    --inner-container-bk: #2E3844;
}

/* Search field input area background */
.newsmatic_dark_mode .search-form-wrap form .search-field {
    background: #1E2731;
}

/* Search submit button */
.site-header.layout--default .search-submit {
    background-color: #1E2731;
}

/* Main content block width */
.primary-content-search-child {
    max-width: 100%;
    flex: unset;
}

/* Result content block background */
.newsmatic_dark_mode.search.search-results #theme-content .primary-content-search-child {
    --search-content-bk-color: #1E2731;
}

/* Search result title */
 .archive .page-title:after,
 .search .page-title:after {
    background: none;
}

.archive .page-title,
.search .page-title {
    font-size: 1.5em;
}

.archive .page-header-search-child,
.search .page-header-search-child {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--border-bottom-color);
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.newsmatic_dark_mode #newsmatic-block-title-search-child {
    --theme-color-red: white;
    color: white;
}

.search .page-title span {
    font-style: italic;
}

#newsmatic-block-title-search-child {
    --theme-color-red: #2E3844;
    color: #2E3844;
}

.primary-content-search-child {
    margin-top: 3em;
}
